html {
  scroll-behavior: smooth;
}

:root {
  --text-color: #f0f4f5;
  --background-color: #263343;
  --accent-color: #d49466;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Source Sans Pro', sans-serif;
}

.home {
  background-image: url('./image/bedroom.jpg');
  filter: brightness(80%);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100%;
}

.home-filter {
  background: #26334333;
  height: 100%;
  width: 100%;
}

.home p {
  position: absolute;
  font-size: 2vw;
  color: rgb(255, 255, 255);
  right: 5%;
  bottom: 21%;
}

a {
  text-decoration: none;
  color: white;
}
.navbar {
  position: fixed;
  top: 0;
  width: 100%; /* Full width */
  z-index: 200;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #26334391;
  padding: 10px;
  transition: all 0.7s ease;
}

.navbar:hover,
.sticky {
  background-color: #263343;
  transition: all 0.7s ease;
}

.navbar__logo a:before {
  color: #fed16b;
  content: '뉴 ';
}

.navbar__logo {
  display: flex;
  align-items: center;
  font-size: 24px;
  color: white;
  position: relative;
  left: 1vw;
}

.navbar__logo img {
  width: 60px;
  padding: 0 4px;
}

.navbar__logo {
  font-size: 24px;
}

.navbar__menu {
  display: flex;
  list-style: none;
  padding-left: 0;
}
.navbar__menu li {
  padding: 8px 12px;
}
.navbar__menu li:hover {
  background-color: #d49466;
  border-radius: 4px;
  cursor: pointer;
}
.navbar__toggleBtn {
  display: none;
  position: absolute;
  right: 30px;
  font-size: 24px;
  color: #d49466;
}

.language__selector {
  width: 130px;
  position: relative;
  right: 1vw;
  padding: 8px 12px;
  border-radius: 4px;
  cursor: pointer;
}

.language__selector a img {
  height: 1em;
}

.language__selector.pressed {
  background: #19222c;
}

.language__menu {
  position: absolute;
  top: 0px;
  right: 0px;
  background: #263343;
  z-index: 100;
  list-style: none;
  display: none;
  border-radius: 4px;
}

.language__menu li {
  width: 130px;
  padding: 8px 12px;
}

.language__menu li img {
  height: 1em;
}

.language__menu li:hover {
  background-color: #d49466;
  border-radius: 4px;
}

.language__menu.pressed {
  display: block;
}

.about {
  background: #7894b4;
  filter: brightness(80%);
  height: 100vh;
  width: 100%;
}

.inquiry__button {
  position: fixed;
  height: 60px;
  width: 60px;
  bottom: 30px;
  right: 40px;
  opacity: 1;
  border: none;
  outline: none;
  background: #40556e;
  border-radius: 50%;
  justify-content: center;
  z-index: 201;
}

.inquiry__button:hover {
  background: #263343;
  transition: all 0.3s ease-in-out;
}

.inquiry__button i {
  transform: scaleX(-1);
  color: #f0f4f5;
}

.inquiry__button i.pressed {
  animation-name: inuiryBtn_press;
  animation-duration: 0.5s;
}

.inquiry__button i.unpressed {
  animation-name: inuiryBtn_unpress;
  animation-duration: 0.5s;
}

@keyframes inuiryBtn_press {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-90deg);
  }
}

@keyframes inuiryBtn_unpress {
  0% {
    transform: scale(0);
  }
  100% {
    background-color: scale(1);
  }
}

#contact-form {
  background-color: rgb(250, 250, 250);
  position: fixed;
  visibility: hidden;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 350px;
  height: 500px;
  bottom: 100px;
  right: 40px;
  z-index: 1000;
  margin: 0px;
  padding: 0px;
  border-radius: 5px;
}

#contact-form.pressed {
  animation-name: inquiry_appear;
  animation-duration: 0.5s;
  visibility: visible;
}

#contact-form.unpressed {
  animation-name: inquiry_disappear;
  animation-duration: 0.5s;
}

@keyframes inquiry_appear {
  0% {
    transform: translateY(50px);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}

@keyframes inquiry_disappear {
  0% {
    transform: translateY(0px);
    opacity: 1;
  }
  100% {
    transform: translateY(50px);
    opacity: 0;
  }
}

.contact-form-text-wrapper {
  border-radius: 5px 5px 0px 0px;
  color: rgb(250, 250, 250);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 170px;
  width: 100%;
  background-color: #40556e;
  padding: 10px 0px;
}

.contact-form-text-wrapper h3 {
  font-size: 16px;
}

.contact-form-logo-wrapper {
  width: 30%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background-color: #263343;
  border-radius: 20px;
  padding: 6px 15px;
}

.contact-form-description-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 0px 30px 15px 30px;
}

.contact-form-description-wrapper h3 {
  font-size: 16px;
}

.contact-form-description-wrapper p {
  font-size: 15px;
  text-align: center;
  color: rgba(250, 250, 250, 0.75);
}

#gform {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 20px 0px 0px 0px;
}

.form-element {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3px;
}

.form-element input,
.form-element textarea {
  width: 85%;
  height: 30px;
  padding: 5px;
}

.form-element textarea {
  height: 100px;
  resize: none;
}

#submit-form {
  color: rgba(250, 250, 250);
  background-color: #40556e;
  border: none;
  outline: none;
  border-radius: 3px;
}

#submit-form:hover {
  background-color: #263343;
  transition: all 0.3s ease-in-out;
}

.map {
  background-color: #ccd4f1;
  height: 50vh;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.map-text {
  padding: 3vh 2vw;
}

.map iframe {
  width: 50%;
  height: 50vh;
}

@media screen and (max-width: 870px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
    padding: 8px;
  }
  .navbar__menu {
    display: none;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  .navbar__menu li {
    width: 100%;
    text-align: center;
  }

  .language__selector {
    display: none;
    justify-content: center;
    width: 100%;
  }

  .navbar__logo {
    padding: 0;
  }

  .navbar__toggleBtn {
    display: block;
  }
  .navbar__menu.active,
  .language__selector.active {
    display: flex;
  }

  .language__menu {
    width: 100%;
  }
  .language__menu li {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 8px 12px;
  }
}
