html {
  scroll-behavior: smooth;
}

:root {
  --text-color: #f0f4f5;
  --background-color: #263343;
  --accent-color: #d49466;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Noto Sans KR', sans-serif;
}

.home {
  background-image: url('./image/bedroom.jpg');
  filter: brightness(80%);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100%;
}

.home-filter {
  background: #26334333;
  height: 100%;
  width: 100%;
}

.home p {
  position: absolute;
  font-size: 2vw;
  color: rgb(255, 255, 255);
  right: 5%;
  bottom: 21%;
}

a {
  text-decoration: none;
  color: white;
}
.navbar {
  position: fixed;
  top: 0;
  width: 100%; /* Full width */
  z-index: 200;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #26334391;
  padding: 10px;
  transition: all 0.7s ease;
}

.navbar:hover,
.sticky {
  background-color: #263343;
  transition: all 0.7s ease;
}

.navbar__logo a:before {
  color: #fed16b;
  content: 'ë‰´ ';
}

.navbar__logo {
  display: flex;
  align-items: center;
  font-size: 24px;
  color: white;
  position: relative;
  left: 1vw;
}

.navbar__logo img {
  width: 60px;
  padding: 0 4px;
}

.navbar__logo {
  font-size: 24px;
}

.navbar__menu {
  display: flex;
  list-style: none;
  padding-left: 0;
}
.navbar__menu li {
  padding: 8px 12px;
}
.navbar__menu li:hover {
  background-color: #d49466;
  border-radius: 4px;
  cursor: pointer;
}
.navbar__toggleBtn {
  display: none;
  position: absolute;
  right: 30px;
  font-size: 24px;
  color: #d49466;
}

.language__selector {
  width: 130px;
  position: relative;
  right: 1vw;
  padding: 8px 12px;
  border-radius: 4px;
  cursor: pointer;
}

.language__selector a img {
  height: 1em;
}

.language__selector.pressed {
  background: #19222c;
}

.language__menu {
  position: absolute;
  top: 0px;
  right: 0px;
  background: #263343;
  z-index: 100;
  list-style: none;
  display: none;
  border-radius: 4px;
}

.language__menu li {
  width: 130px;
  padding: 8px 12px;
}

.language__menu li img {
  height: 1em;
}

.language__menu li:hover {
  background-color: #d49466;
  border-radius: 4px;
}

.language__menu.pressed {
  display: block;
}

.about {
  background: #7894b4;
  filter: brightness(80%);
  height: 100vh;
  width: 100%;
}

.kakao__button {
  position: fixed;
  height: 60px;
  width: 60px;
  bottom: 30px;
  right: 110px;
  opacity: 1;
  border: none;
  outline: none;
  background: #f7e600;
  border-radius: 50%;
  justify-content: center;
  z-index: 202;
}

.kakao__button:hover {
  height: 56px;
  width: 56px;
  bottom: 32px;
  right: 112px;
  background: #ccb116;
  transition: all 0.3s ease-in-out;
}

.kakao__button img {
  padding-top: 3px;
  width: 35px;
  height: 35px;
}

.inquiry__button {
  position: fixed;
  height: 60px;
  width: 60px;
  bottom: 30px;
  right: 40px;
  opacity: 1;
  border: none;
  outline: none;
  background: #40556e;
  border-radius: 50%;
  justify-content: center;
  z-index: 201;
}

.inquiry__button:hover {
  background: #263343;
  bottom: 32px;
  right: 42px;
  height: 56px;
  width: 56px;
  transition: all 0.3s ease-in-out;
}

.inquiry__button i {
  color: #f0f4f5;
}

.inquiry__button i.pressed {
  animation-name: inuiryBtn_press;
  animation-duration: 0.5s;
}

.inquiry__button i.unpressed {
  animation-name: inuiryBtn_unpress;
  animation-duration: 0.5s;
}

@keyframes inuiryBtn_press {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-90deg);
  }
}

@keyframes inuiryBtn_unpress {
  0% {
    transform: scale(0);
  }
  100% {
    background-color: scale(1);
  }
}

#contact-form {
  background-color: rgb(250, 250, 250);
  position: fixed;
  visibility: hidden;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 350px;
  height: 500px;
  bottom: 100px;
  right: 40px;
  z-index: 1000;
  margin: 0px;
  padding: 0px;
  border-radius: 5px;
}

#contact-form.pressed {
  animation-name: inquiry_appear;
  animation-duration: 0.5s;
  visibility: visible;
}

#contact-form.unpressed {
  animation-name: inquiry_disappear;
  animation-duration: 0.5s;
}

@keyframes inquiry_appear {
  0% {
    transform: translateY(50px);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}

@keyframes inquiry_disappear {
  0% {
    transform: translateY(0px);
    opacity: 1;
  }
  100% {
    transform: translateY(50px);
    opacity: 0;
  }
}

.contact-form-text-wrapper {
  border-radius: 5px 5px 0px 0px;
  color: rgb(250, 250, 250);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 170px;
  width: 100%;
  background-color: #40556e;
  padding: 10px 0px;
}

.contact-form-text-wrapper h3 {
  font-size: 16px;
}

.contact-form-logo-wrapper {
  width: 30%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  background-color: #263343;
  border-radius: 20px;
  padding: 6px 15px;
}

.contact-form-logo-wrapper i {
  transform: scaleX(-1);
}

.contact-form-description-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 0px 30px 15px 30px;
}

.contact-form-description-wrapper h3 {
  font-size: 16px;
}

.contact-form-description-wrapper p {
  font-size: 15px;
  text-align: center;
  color: rgba(250, 250, 250, 0.75);
}

#gform {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 20px 0px 0px 0px;
}

.form-element {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3px;
}

.form-element input,
.form-element textarea {
  width: 85%;
  height: 30px;
  padding: 5px;
}

.form-element textarea {
  height: 100px;
  resize: none;
}

#submit-form {
  color: rgba(250, 250, 250);
  background-color: #40556e;
  border: none;
  outline: none;
  border-radius: 3px;
}

#submit-form:hover {
  background-color: #263343;
  transition: all 0.3s ease-in-out;
}

#sent-msg {
  opacity: 0;
  width: 80%;
  background-color: #2eb605;
  font-size: 15px;
  text-align: center;
  color: #f1f1f1;
  padding: 10px 10px;
  margin-top: 10px;
  border-radius: 3px;
}

#sent-msg.pressed {
  animation-name: opacityOn;
  animation-duration: 10s;
}

@keyframes opacityOn {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.rooms {
  background: #ffffff;
  filter: brightness(99%);
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.floor-plan-wrapper {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: center;
}

.floor-plan-elements-wrapper {
  position: absolute;
}

.floor-plan-elements-wrapper > button {
  font-weight: 1000;
  position: absolute;
  border: none;
  border-radius: 10%;
  padding: 5px;
  transition: all 0.3s ease-in-out;
  transition-duration: 0.4s;
}

.floor-plan-elements-wrapper > button:nth-of-type(1) {
  right: 75px;
  top: 360px;
  background-color: #d3b119;
}

.floor-plan-elements-wrapper > button:nth-of-type(1):hover {
  background-color: #ffe600;
}

.floor-plan-elements-wrapper > button:nth-of-type(2) {
  right: 550px;
  top: 270px;
  background-color: #199988;
}

.floor-plan-elements-wrapper > button:nth-of-type(2):hover {
  background-color: #22dac1;
}

.floor-plan-elements-wrapper > button:nth-of-type(3) {
  right: 415px;
  top: 555px;
  background-color: #d35d19;
}

.floor-plan-elements-wrapper > button:nth-of-type(3):hover {
  background-color: #ecaa1a;
}

.map {
  background-color: #ccd4f1;
  height: 50vh;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.div-text {
  padding: 3vh 2vw;
}

.map iframe {
  width: 50%;
  height: 50vh;
}

#photo-slider-wrapper {
  visibility: hidden;
  background-color: #263343ec;
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 5000;
}

#photo-slider-wrapper.visible {
  visibility: visible;
}

/*got it from slider.js*/
.swiper-close-wrapper {
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  z-index: 2;
}

#swiper-close-button {
  background-color: #fff0;
  color: #ffffff;
  padding: 0;
  position: relative;
  right: 40px;
  top: 20px;
  border: none;
  outline: none;
}

.swiper-container {
  width: 100%;
  height: 300px;
  margin-left: auto;
  margin-right: auto;
}

.swiper-slide {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.swiper-cover {
  background-size: cover !important;
}

.gallery-top {
  height: 80%;
  width: 100%;
}

.gallery-thumbs {
  height: 20%;
  box-sizing: border-box;
  padding: 10px 0;
}

.gallery-thumbs .swiper-slide {
  width: 25%;
  height: 100%;
  opacity: 0.4;
}

.gallery-thumbs .swiper-slide-thumb-active {
  opacity: 1;
}

/*Until here*/

@media screen and (max-width: 870px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
    padding: 8px;
  }
  .navbar__menu {
    display: none;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  .navbar__menu li {
    width: 100%;
    text-align: center;
  }

  .language__selector {
    display: none;
    justify-content: center;
    width: 100%;
  }

  .navbar__logo {
    padding: 0;
  }

  .navbar__toggleBtn {
    display: block;
  }
  .navbar__menu.active,
  .language__selector.active {
    display: flex;
  }

  .language__menu {
    width: 100%;
  }
  .language__menu li {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 8px 12px;
  }
}
